pillow~=11.0.0
faker~=33.1.0
requests~=2.32.3
psycopg2-binary~=2.9.9
python-dotenv~=1.0.1
Django~=4.2.17
django-apscheduler~=0.7.0
django-bootstrap5~=24.3
django-filter~=24.3

# dev tools
flake8~=7.1.1
isort~=5.13.2
black~=24.8.0
djlint~=1.36.3
